<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>8-Bit Inventory Launchpad</title>
    <script src="vendors/jquery-3.0.0.min.js" charset="utf-8"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="scripts/8bitInventory.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="container text-center">
      <h1>8-Bit Inventory Launchpad</h1>

      <h2>Add Item to Inventory</h2>
      <form id="addItemForm" class="form-inline">
        <div class="form-group">
          <label for="nameIn">Name:</label>
          <input id="nameIn" type="text" class="form-control" placeholder="Name" required>
        </div>
        <div class="form-group">
          <label for="sizeIn">Size:</label>
          <select id="sizeIn" class="form-control" required>
            <option value="" selected disabled>Select a Size:</option>
          </select>
        </div>
        <div class="form-group">
          <label for="colorIn">Color:</label>
          <select id="colorIn" class="form-control" required>
            <option value="" selected disabled>Choose a color:</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Item</button>
      </form>

      <h2>Find Item</h2>
      <form id="findItemForm" class="form-inline">
        <div class="form-group">
          <label for="findSizeIn">Size:</label>
          <select id="findSizeIn" class="form-control" required>
            <option value="" selected disabled>Select a Size:</option>
          </select>
        </div>
        <div class="form-group">
          <label for="findColorIn">Color:</label>
          <select id="findColorIn" class="form-control" required>
            <option value="" selected disabled>Choose a color:</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Find Item</button>
      </form>

      <div id="outputDiv"></div>

    </div>
  </body>
</html>
