@import 'settings';

//GLOBALS
html, body {
  font-family: $mainFont;
}
h2 {
  font-size: 24px;
}
hr {
  width: 30%;
  margin-top: 0;
}
form {
  padding: 10px 0 20px;
  label {
    font-weight: bold;
    font-size: 16px;
    padding: 0 5px 0 10px;
  }
}
//LAYOUT
.form-section {
  margin: 20px auto;
}
.bordered {
  border: 2px solid $darkBorderColor;
  border-radius: 4px;
}
.bordered-light {
  border-color: $lightBorderColor;
}
.item-found {
  padding: 10px;
}
